*{
    margin: 0;
    padding: 0;
}
/* ===============================
Header Styling
===================================*/
header {
    background-color:black;
    background: linear-gradient(0deg,black,rgb(9, 11, 113));
    padding-bottom: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__nav-link {
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 90px;
    cursor: pointer;
    transition: 300ms;
}
.header__nav-link:hover {
color: rgb(255, 0, 38);
}
.header__nav {
    padding-top: 30px;
}

.logo-container {
    padding-top: 30px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0px, 20px); }
    100%   { transform: translate(0px, -0px); }   
}

/* Seasons Page Styling */
 .list_of_seasons{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding-bottom: 60px;
 }

 .season_header{
    text-align: center;
    font-weight: 400;
 }

 .season_title{
    font-size: 25px;
 }

 details{
    padding: 0 1rem;
 }

 details > summary {
    cursor: pointer;
    padding: 1rem;
    justify-content: space-around;
 }

 footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 30px; 
    width: 100%;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color:black;
    background: linear-gradient(0deg,black,rgb(9, 11, 113));
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /* Character Page Styling */
 .main__characters-images {
    max-width: 250px;
    padding: 10px;
    max-height: 250px;
 }
 .main__sub-heading {
    text-align: center;
 }
 .main__grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 550px;
    padding: 0px 50px;
    column-gap: 50px;
 }
 .main__grid-character {
    width: 300px;
    box-shadow: 4px 4px 10px 2px;
    border-radius: 3px;
    margin-bottom: 40px;
    margin-right: 20px;
    padding: 20px;
 }
 .page {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    box-sizing: border-box;
 }
 .header__nav {
    grid-area: nav;
 }
 .header {
    grid-area: header;
 }
 .main {
    grid-area: main;
 }
 .footer {
    grid-area: footer;
 }