*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===============================
Header Styling
===================================*/
.header {
   background: black;
   }
   .header__nav-link {
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 60px;
    cursor: pointer;
    transition: 300ms;
    justify-content: center;
   }
   .header__nav-link:hover {
    color: #ff1f28;
    text-shadow: 2px 2px 5px #ff1f28;
   }
   .header__nav {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    height: 80px;
   }
   .logo-container {
    display: flex;
    justify-content: center;
    background-color:black;
    background: linear-gradient(0deg,black,black,rgb(73, 0, 0));
   }
   .strangerthings_logo {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    padding-right: 25px;
   }

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0px, 20px); }
    100%   { transform: translate(0px, -0px); }   
}

   /* ===============================
   Home Page Styling
   ===================================*/
   .home_page_body {
      background-color: black;
   }
   .hero-banner {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .hero_banner_image {
       width: 100%;
       height: auto;
   }
   .home_page_text {
       color: white;
       padding-top: 30x;
       padding-left: 10px;
       padding-right: 10px;
       margin: 30px;
       font-family: Arial, Helvetica, sans-serif;
   }
   .home_page_h1, .home_page_h2, .home_page_h3 {
       font-size: 24px;
       font-family: Arial, Helvetica, sans-serif;
       color: #ff1f28;
       text-shadow: 2px 2px 5px #ff1f28;
       padding-top: 20px;
       padding-bottom: 5px;
       font-weight: bold;
   }
   .home_page_h4 {
       background-color: rgb(35, 35, 35);
       color:#ff1f28;
       text-shadow: 2px 2px 5px #b4262b;
       font-size: 42px;
       font-family: Arial, Helvetica, sans-serif;
       display: flex;
       justify-content: center;
       height: 80px;
       padding-top: 40px;
       background: linear-gradient(0deg,rgb(35, 35, 35),rgb(35, 35, 35),black);
   }
   .home_page_picture_links {
       display: flex;
       justify-content: space-evenly;
       background-color: rgb(35, 35, 35);
   }
   .explore_characters_icon, .explore_seasons_icon, .explore_collaborations_icon {
       cursor: pointer;
       transition: 300ms;
   }
   .explore_characters_icon:hover {
       width: 250px;
       height: 250px;
       box-shadow: 10px 10px 10px black;
   }
   .explore_seasons_icon:hover {
       width: 250px;
       height: 250px;
       box-shadow: 10px 10px 10px black;
   }
   .explore_collaborations_icon:hover {
       width: 250px;
       height: 250px;
       box-shadow: 10px 10px 10px black;
   }
   .home_page_footer {
       color: white;
       background-color: rgb(35, 35, 35);
       display: flex;
       justify-content: center;
       padding-top: 60px;
       padding-bottom: 10px;
   }

/* Seasons Page Styling */
 .list_of_seasons{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding-bottom: 60px;
 }

 .season_header{
    text-align: center;
    font-weight: 400;
 }

 .season_title{
    font-size: 25px;
 }

 details{
    padding: 0 1rem;
 }

 details > summary {
    cursor: pointer;
    padding: 1rem;
    justify-content: space-around;
 }

 /* Footer Styling for Seasons & Collab Page */
 .footer{ 
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 30px; 
    width: 100%;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color:black;
    background: linear-gradient(0deg,black,rgb(73,0,0));
    display: flex;
    align-items: center;
    justify-content: center;
 }

/* Collaborations Page */
.collab_recent {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 60px;
}

.collab_title {
    text-align: center;
}

.collab_columns {
    float: left;
    width: 50%;
    padding: 12px;
    min-height: 400px;
}

.collab_rows ::after {
    content: "";
    display: flex;
    clear: both;
}

.collab_img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 /* Character Page Styling */
 .main__grid-images {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px;
    max-height: 250px;
 }
 .main__sub-heading {
    text-align: center;
    color: #ff1f28;
    margin-bottom: 10px;
 }
 .main__grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 550px;
    padding: 0px 50px;
    column-gap: 50px;
 }
 .main__grid-character {
    width: 300px;
    box-shadow: 4px 4px 10px 2px #ff1f28;
    border-radius: 3px;
    margin-bottom: 40px;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
 }
 .characters__page {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
 }
 .header__nav {
    grid-area: nav;
 }
 .characters__header {
    grid-area: header;
 }
 .main {
    grid-area: main;
 }
 .characters__footer {
    grid-area: footer;
    text-align: center;
    bottom: 0;
    height: 30px; 
    width: 100%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:black;
    background: linear-gradient(0deg,black,rgb(73,0,0));
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .main__characters-intro, .main__characters-heading {
    text-align: center;
    padding: 20px;
 }
 .resources {
    color: white;
    margin: 10px;
 }
 .main__characters-heading, .resources__link:link, .resources__heading {
    color: #ff1f28;
 }
 .main__characters-intro, .resources__link:visited {
    color: white;
 }
 .main__grid-name {
    text-align: center;
    color: #ff1f28;
 }
 .resources__wiki-links {
    display: flex;
    flex-direction: column;
 }
 /* ===============================
Media Screen Styling
===================================*/
    @media screen and (min-width:500px) and (max-width: 1024px) {
        /*Logo Image and Nav Media Screen Styling*/
        .strangerthings_logo {
            width: 300px;
            height: auto;
            }
        .header__nav-link {
            margin: 30px;
            font-size: 12px;
            }
        .strangerthings_logo {
            width: 300px;
            height: auto;
        }
        /* Character Page Media Screen Styling*/
        .main__grid-character {
            margin: 30px auto;
        }
        
    }
    @media screen and (max-width: 500px) {
       /* Collaborations Page Media Screen Styling */ 
       .collab_columns {
            width: 100%;
            padding: 12px;
            }
        /* Home Page Media Screen Styling */
        .hero_banner_image {
                width: 100%;
                height: auto;
            }
        .strangerthings_logo {
                width: 300px;
                height: auto;
            }
        .header__nav-link {
                margin: 8px;
                font-size: 12px;
            }
            
        .explore_characters_icon, .explore_seasons_icon, .explore_collaborations_icon {
                width: 100px;
                height: 100px;
            }
        /* Character Page Media Screen Styling */
        .main__grid-character {
            margin: 30px auto;
        }
    }